.drop-down {
  box-sizing: border-box;
  padding: 10px;
  position: absolute;
  background-color: var(--white);
  z-index: 80;

  border: 1px solid var(--gray-1);
  border-radius: 5px;
  width: 60px;

  &__image {
    width: 9px;
    height: 5px;

    &_opened {
      transform: rotate(180deg);
    }
  }
  &__items {
    font-family: "Avenir Next";
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;

    letter-spacing: 0.005em;

    color: var(--gray-2);
  }
  &__item {
    &:not(:last-child) {
      margin: 8px 0;
    }

    &:hover {
      text-decoration: underline;
      cursor: pointer;
    }
  }
  &__to-choose {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: "Avenir Next";
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;

    text-align: center;
    letter-spacing: 0.005em;

    color: var(--gray-2);
  }
}
