.drop-down {
  box-sizing: border-box;
  width: 60px;
  height: 35px;
  background: #ffffff;
  border: 0.754526px solid #c4c4c4;
  border-radius: 4.5px;

  font-family: "Avenir Next";
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.005em;
  color: #939393;
  text-transform: uppercase;
}
