.pagination {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: min-content;

  &__switch-button {
    background-color: var(--white);
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;

    text-align: center;
    color: var(--gray-8);

    &:last-child {
      margin-left: 25px;
    }

    &:first-child {
      margin-right: 40px;
    }
  }

  &__buttons {
    display: flex;
    align-items: center;
    gap: 2px;
  }
}

@media screen and (max-width: 520px) {
  .pagination {
    &__switch-button {
      display: none;
    }
  }
}
