.input {
  box-sizing: border-box;
  background: #ffffff;
  border: 1px solid #c4c4c4;
  border-radius: 10px;
  width: 100%;

  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  letter-spacing: 0.005em;
  color: #939393;
  padding: 12px 20px;
}
