@import "../../styles/mixins.scss";

@mixin button-div($height) {
  height: $height;
  background: var(--primary);
  border-radius: 100px;
}

.menu-button {
  width: 25px;
  height: 15px;

  display: flex;
  justify-content: space-between;
  flex-direction: column;
  background-color: var(--white);

  @include for-size(tablet-portrait-up) {
    width: 29px;
    height: 17px;
  }

  @include for-size(tablet-landscape-up) {
    display: none;
  }

  &__first {
    @include button-div(3px);

    @include for-size(tablet-portrait-up) {
      @include button-div(4px);
    }
  }
  &__second {
    @include button-div(3px);

    @include for-size(tablet-portrait-up) {
      @include button-div(4px);
    }
  }
  &__third {
    @include button-div(3px);

    @include for-size(tablet-portrait-up) {
      @include button-div(4px);
    }
  }
}

.menu {
  display: block;
  z-index: 1000;
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background: var(--black-transparent);
  overflow: visible;

  @include for-size(tablet-landscape-up) {
    display: none;
  }

  &__content {
    width: 100vw;
    background-color: var(--white);
    height: 100vh;
    padding: 31px;
    overflow-y: auto;

    animation-duration: 0.3s;
    animation-name: open;
    animation-iteration-count: 1;
    transform: translate(0px);

    @include for-size(tablet-portrait-up) {
      width: 360px;
    }
  }

  &__main {
    margin-top: 40px;
  }

  &_close {
    .menu__content {
      transform: translate(-360px);
      padding: 0;
      animation-duration: 0.3s;
      animation-name: close;
      animation-iteration-count: 1;
    }
  }

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    button {
      background-color: var(--white);
      width: 23px;
      height: 23px;
    }
  }
}

@keyframes open {
  from {
    transform: translate(-100vw);
  }

  to {
    transform: translate(0);
  }
}

@keyframes close {
  from {
    transform: translate(0);
  }

  to {
    transform: translate(-100vw);
    padding: 0;
  }
}

@include for-size(tablet-portrait-up) {
  @keyframes open {
    from {
      transform: translate(-360px);
    }

    to {
      transform: translate(0);
    }
  }

  @keyframes close {
    from {
      transform: translate(0);
    }

    to {
      transform: translate(-360px);
      padding: 0;
    }
  }
}
