.sort-button {
  font-family: "Avenir Next";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;

  letter-spacing: 0.005em;
  text-transform: uppercase;
  color: #939393;
  background-color: white;

  &:hover {
    color: #52106a;
  }
}
