.links-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start !important;
  gap: 21px;

  h5 {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 19px;

    letter-spacing: 2.6px;

    color: var(--black);
  }

  a {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 19px;

    color: var(--gray-4);
  }

  button {
    background-color: var(--white);
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;

    color: var(--gray-4);
    width: fit-content;
  }
}
