.links-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start !important;
  gap: 21px;

  &__title {
    font-style: normal;
    font-weight: var(--weight-bolder);
    font-size: 14px;
    line-height: 19px;

    letter-spacing: 2.6px;

    color: var(--black);
  }

  &__link {
    cursor: pointer;
    font-style: normal;
    font-weight: var(--weight-bolder);
    font-size: 14px;
    line-height: 19px;

    color: var(--gray-4);
  }

  &__button {
    background-color: var(--white);
    font-style: normal;
    font-weight: var(--weight-bold);
    font-size: 14px;
    line-height: 19px;

    color: var(--gray-4);
    width: fit-content;
  }
}
