.product-card {
  width: 312px;
  height: 326px;

  background: #f7f7f7;
  border-radius: 10px;

  grid-template-columns: 1fr;
  grid-template-rows: 30px 218px 60px;
  padding: 15px;
  transition: background 0.3s;
  box-sizing: border-box;
  border: 3px solid #f7f7f7;
  position: relative;

  &:hover {
    background-color: white;
    .product-card__buy {
      height: 100px;
      width: 120px;
    }

    .product-card__buttons-wrapper {
      display: flex;
    }

    .product-card__price {
      opacity: 1;
    }
  }

  &__img {
    height: 218px;
    width: 282px;
    justify-content: center;
  }

  &__tags-wrapper {
    display: flex;
    align-items: center;
    gap: 10px;
  }

  &__tag {
    border-radius: 5px;
    padding: 2px 20px;
    width: min-content;

    font-family: "Avenir Next";
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    text-transform: uppercase;

    letter-spacing: 0.005em;

    color: #ffffff;

    display: flex;
    align-items: center;
    justify-content: center;

    &_new {
      background: #754088;
    }

    &_sale {
      background: #fbab73;
    }
  }

  &__text-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    height: 60px;
  }

  &__price {
    font-family: "Avenir Next";
    font-style: normal;
    font-weight: 500;
    font-size: 23px;
    line-height: 32px;
    opacity: 0;
    transition: opacity 0.2s;

    letter-spacing: 0.005em;

    color: #000000;
    align-self: flex-end;
  }

  &__category {
    font-family: "Avenir Next";
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;

    letter-spacing: 0.005em;

    color: #000000;
    text-transform: uppercase;
  }

  &__title {
    font-family: "Avenir Next";
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 25px;

    letter-spacing: 0.005em;

    color: #000000;
    text-transform: uppercase;
  }

  &__buy {
    height: 0px;
    width: 0px;
    position: absolute;
    right: 0px;
    top: 0;
    transition: 0.3s;
    border-radius: 0px 0px 0px 100000px;
    background: #f2e2f8;
    overflow: hidden;

    &-icons {
      position: absolute;
      width: 62px;
      height: 23px;
      display: flex;
      align-items: center;
      justify-content: space-between;

      top: 13px;
      right: 15px;
      &-button {
        color: #52106a;
        height: 23px;
        cursor: pointer;
      }
    }
  }

  &__buttons-wrapper {
    display: none;
    position: absolute;
    height: 25px;
    width: 100%;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    align-items: center;
    justify-content: space-between;
    padding: 0px 15px;

    button {
      width: 25px;
      height: 25px;
      color: #939393;
      background-color: transparent;

      &:first-child {
        transform: rotate(180deg);
      }
    }
  }
}
