@import "../../styles/mixins.scss";

.product-card {
  width: 330px;
  height: 345px;
  grid-template-rows: 30px 230px 50px;
  padding: 17px;

  display: grid;

  border-radius: 10px;

  align-items: start;
  transition: background 0.3s;
  box-sizing: border-box;
  border: 3px solid var(--gray-10);
  position: relative;

  background: var(--white);

  @include for-size(tablet-portrait-up) {
    width: 340px;
    height: 355px;

    grid-template-rows: 30px 238px 52px;
  }

  @include for-size(tablet-landscape-up) {
    width: 295px;
    height: 310px;
    padding: 15px;
    background: var(--gray-10);

    grid-template-rows: 20px 206px 45px;
  }

  &:hover {
    @include for-size(tablet-landscape-up) {
      background: var(--white);
      .product-card__price {
        opacity: 1;
      }

      .product-card__buttons-wrapper {
        opacity: 1;
      }

      .product-card__buy {
        height: 100px;
        width: 120px;
      }
    }
  }

  @include for-size(desktop-up) {
    width: 312px;
    height: 326px;

    grid-template-rows: 30px 218px 47px;
  }

  &__img {
    height: 218px;
    width: 100%;
    justify-content: center;
  }

  &__tags-wrapper {
    display: flex;
    align-items: center;
    gap: 10px;
  }

  &__buy-button {
    background-color: transparent;
  }

  &__tag {
    border-radius: 5px;
    padding: 2px 20px;

    font-style: normal;
    font-weight: var(--weight-semibold);
    font-size: 12px;
    line-height: 16px;
    text-transform: uppercase;

    letter-spacing: 0.005em;

    color: var(--white);

    display: flex;
    align-items: center;
    justify-content: center;

    &_new {
      background: var(--primary);
    }

    &_sale {
      background: var(--orange);
    }
  }

  &__text-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    height: 50px;
  }

  &__price {
    font-style: normal;
    font-weight: var(--weight-bolder);
    font-size: 23px;
    line-height: 32px;
    opacity: 1;
    transition: opacity 0.2s;

    letter-spacing: 0.005em;

    color: var(--black);
    align-self: flex-end;

    width: fit-content;

    @include for-size(tablet-landscape-up) {
      opacity: 0;
    }
  }

  &__category {
    font-style: normal;
    font-weight: var(--weight-semibold);
    font-size: 12px;
    line-height: 16px;

    letter-spacing: 0.005em;

    color: var(--black);
    text-transform: uppercase;
    width: fit-content;
  }

  &__data-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
    width: fit-content;
  }

  &__title {
    font-style: normal;
    font-weight: var(--weight-bolder);
    font-size: 18px;
    line-height: 25px;

    letter-spacing: 0.005em;

    color: var(--black);
    text-transform: uppercase;
  }

  &__buy {
    height: 100px;
    width: 120px;
    position: absolute;
    right: 0px;
    top: 0;
    transition: 0.3s;
    border-radius: 0px 0px 0px 100000px;
    overflow: hidden;

    @include for-size(tablet-landscape-up) {
      height: 0px;
      width: 0px;
    }

    @include for-size(tablet-landscape-up) {
      background: var(--gray-7);
    }

    &-icons {
      position: absolute;
      width: 62px;
      display: flex;
      justify-content: space-between;

      top: 13px;
      right: 15px;
      &-button {
        color: var(--primary);
        cursor: pointer;
      }
    }
  }

  &__buttons-wrapper {
    transition: opacity 0.2s;
    display: flex;
    position: absolute;
    height: 25px;
    width: 100%;
    top: 50%;
    left: 0;
    align-items: center;
    justify-content: space-between;
    transform: translateY(-50%);
    align-items: center;
    justify-content: space-between;
    padding: 0px 15px;

    @include for-size(tablet-landscape-up) {
      opacity: 0;
    }
  }

  &__button {
    width: 25px;
    height: 25px;
    color: var(--gray-2);
    background-color: transparent;

    &:first-child {
      transform: rotate(180deg);
    }
  }
}
