.menu-link {
  font-family: "Avenir Next";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;

  letter-spacing: 0.005em;
  color: #515151;
  background-color: transparent;
  padding: 24px 0;
}
