.header-button {
  width: 20px;
  height: 20px;
  background-size: 20px 20px !important;
  background-color: var(--white);
}

@media screen and (max-width: 520px) {
  .header-button {
    width: 18px;
    height: 18px;
    background-size: 18px 18px !important;
  }
}
