@import "../../styles/mixins.scss";

.header {
  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;

    margin: 0 15px;
    height: 104px;

    @include for-size(tablet-portrait-up) {
      height: 140px;
      margin: 0 30px;
    }

    @include for-size(tablet-landscape-up) {
      height: 160px;
      margin: 0 60px;
    }

    @include for-size(big-desktop-up) {
      margin: 0 260px;
    }
  }

  &__add {
    background: var(--primary);
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 44px;

    padding: 0 40px;

    &-text {
      font-style: normal;
      text-transform: uppercase;

      color: var(--white);

      font-weight: var(--weight-bolder);
      font-size: 10px;
      line-height: 14px;
      letter-spacing: 2.2px;

      @include for-size(tablet-portrait-up) {
        font-size: 11px;
        line-height: 18px;
      }
    }
  }

  &__languages {
    justify-self: start;
    display: none;

    @include for-size(tablet-landscape-up) {
      display: block;
    }
  }

  &__logo {
    justify-self: center;

    height: 20px;
    width: 155px;

    @include for-size(tablet-portrait-up) {
      width: 264px;
      height: 35px;
    }
  }

  &__main {
    min-width: 100%;
    display: grid;
    grid-template-columns: 100px 264px 100px;
    justify-content: space-between;
    align-items: center;

    height: 104px;
    grid-template-columns: repeat(3, 104px);

    @include for-size(tablet-portrait-up) {
      height: 140px;
    }
  }

  &__links {
    max-width: 100%;
    display: none;

    @include for-size(tablet-landscape-up) {
      display: block;
    }
    &-list {
      display: flex;
      &-item:not(:first-child) {
        margin-left: 40px;
      }
    }
  }

  &__buttons {
    justify-self: end;
    display: flex;
    align-items: center;

    button:nth-child(2) {
      display: none;
      @include for-size(tablet-portrait-up) {
        display: block;
      }
    }

    button:not(:first-child) {
      margin-left: 20px !important;

      @include for-size(tablet-portrait-up) {
        margin-left: 30px !important;
      }
    }
  }

  &__line {
    width: 100%;
    height: 2px;
    background: var(--gray-9);
  }
}
